.header{
	height:10vh;
	width:100%;
	text-align: center;
	margin:auto;
	font-family: 'Montserrat', sans-serif;
}
#name{
	padding:30% 0;
}

.subheader{
	height:30px;
	width:200px;
	padding:5% 0 2% 0;
	border-bottom: 2px solid black;
	color:black;
	text-align: center;
	margin:auto;
	font-family: 'Montserrat', sans-serif;
}

h1{
    font-size:50px;
    color:white;
    text-shadow:2px 2px grey;
}

#nav {
	background-color: #5F758E;
	overflow:hidden;
	width: 100%;
	position:sticky;
	top: 0;
	z-index:1;
}

#nav a {
	float: right;
	color: black;
	text-align: center;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	padding:20px;
	text-decoration: none;
	display:block;
}

.active, .tab:hover {
	background-color: white;
	color:black;
}

body{
	margin:0;
}

.page1{
	height: 100vh;
    position: relative;
    width: 100%;
    min-height: 350px;
    background-color: #EEF1EF;
    background-size: cover;
    background-position: center-50px center;
    background-repeat: no-repeat;
}
.page2{
	height: 100vh;
    position: relative;
    width: 100%;
    min-height: 350px;
    background-color: #A9B4C2;
    background-size: cover;
    background-position: center-50px center;
    background-repeat: no-repeat;
}
#about{
	height:130vh;
}
#homepage {
	background-image:url("https://i.ibb.co/P131H5Q/IMG-6756.jpg");
}

p{
	text-align: center;
	padding: 0 15%;
	line-height: 1.5;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
.row{
	display:block;
}

.project{
	width:20%;
	padding:5% 0 0 10%;
	float:left;
	margin-left: 0;
}

.hover{
	border: 5px solid black;
	width:52%;
	height:auto;
	margin:0 0 0 23%;
	border-radius: 10%;
	box-shadow: 4px 4px grey;
}


.logo{
	width:50%;
	height:auto;
	border:2px solid black;
	margin:0 0 0 25%;
	border-radius: 10%;
}

.gwc{
	width:50%;
	height:auto;
	border:2px solid black;
	margin:0 0 0 25%;
	border-radius: 10%;
}

.descr{
	color: #F1F7ED;
	font-size: 14px;
	/*width:130%;*/
	padding: 0 0 0 20px;
}

.slideshow{
	max-width: 60%;
	position: relative;
	margin:auto;
	padding:2% 0 0 0;
}
.slide{
	display:none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

#contact{
	height:70vh;
}